# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- List popular libraries used for Data Science.
- Show an example of a table in a Jupyter notebook.
- Show some code examples.

## Author
Ted Darling

Some of the popular languages that Data Scientists use are:

- R
- Python
- Julia

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. Matplotlib
3. Pandas

| Data Science Tools |
| ------------------ |
| Git |
| Jupyter Notebooks |
| Anaconda Navigator |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60.
min = 200
hours = 200/60
print(hours)

3.3333333333333335